<!DOCTYPE html>
<html lang="es">
<%- include('../includes/head') %>

    <body>
        <%- include("../includes/header") %>

    <main>

<% if (user != null && user.admin) { %>

      <section class="conttitle">
        <h2 class="title"><%= locals.title ? title : null %></h2>
      </section>
         <section>
          <article>
            <% if (product.Oferta) { %> 
                <h3 class="titoferta">¡EN OFERTA!</h3>
           <% } %>  
           </article> 
           
             <article class="conteinfo">              
                   
               <section class="cajaprod1"> 

                <% if (product.imagen != null) { %>
                  <img class="contimag" src="/uploads/<%= product.imagen.Url %>" >
                <% } %>                 
            
             <ul> 
                <li class="itemtext">TIPO DE GRANO: <%= product.grano ? product.grano.tipoDeGrano : null %></li>                
                <li class="itemtext">CANTIDAD: <%= product.cantidad ? product.cantidad.Cantidad : null %> gr</li>
                <li class="itemtext">PRECIO: $ <%= product.Precio %>
            </ul>  
                           
                    </section>
                </article>
               
                <article class="iconos2">
                    <a class="boton1" href="/product">VOLVER</a> 
                    <picture>
                       <a href="/product/edit/<%= product.id %>"><i class="fas fa-edit"></i></a>
                    </picture>

                    <form action="/product/delete/<%= product.id %>?m=DELETE" method="post">
                      <button class="tachito" type="submit">
                          <a class="fas fa-trash-alt"></a>
                      </button>
                  </form>                    
                                                          
                      </article>
        </section>

      

        <% }else { %>

          <section class="conttitle">
            <h2 class="title"><%= locals.title ? title : null %></h2>
          </section>
             <section>
              <article>
                <% if (product.oferta) { %> 
                    <h3 class="titoferta">¡EN OFERTA!</h3>
               <% } %>  
               </article>
    
                 <article class="conteinfo">               
                                 
                   <section class="cajaprod1">
                       
                    <article >
                    <% product.imagen.forEach(product => { %>                              
                                
                        <img class="contimag" src="/uploads/<%= product.url %>" >                  
                                                                                                       
                   <%  }) %>   
                     </article>
                     <ul>
                    <li class="itemtext">TIPO DE GRANO: <%= product.tipoDeGrano %></li>
                    <li class="itemtext">CANTIDAD: <%= product.cantidad %> Gr.</li>
                    <li class="itemtext">PRECIO: $ <%= product.precio %></li>  
                </ul>  
                        </section>
                    </article>
                   
                    <article class="iconos1">
                        <a class="boton1" href="/product">VOLVER</a>                                                           
                    </article>
                        
           </section>

           <% } %> 

    </main>
    <%- include("../includes/footer") %>
  </body>
</html>
