<!DOCTYPE html>
<html lang="es">
    <%- include('../includes/head') %> 
<body>
        <%- include("../includes/header") %>
    <main>
      <section class="conttitle">
        <h2 class="title"><%= locals.title ? title : null %></h2>
      </section>

            <% if (product.oferta) { %> 
                 <h3 class="titoferta">¡EN OFERTA!</h3>
            <% } %>  
                 <ul class="cajaprod1">
            <li class="tipograno">TIPO DE GRANO: <%= product.tipoDeGrano %></li>
            <li class= "cant">CANTIDAD: <%= product.cantidad %> Gr.</li>
            <li class="precio">PRECIO: $ <%= product.precio %></li>            
                </ul>
            </article>
           
            <article class="iconos1">
                <picture>
                   <a href="/product/update/<%= product.id %>"><i class="fas fa-edit"></i></a>
                </picture>
                <form action="/product/?m=DELETE" method="post">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <button class="tachito" type="submit">
                        <a class="fas fa-trash-alt"></a>
                    </button>
                </form>    
         </article>
        </section>

    <%- include("../includes/footer") %>
  </body>
</html>
