<!DOCTYPE html>
<html lang="es">
    <%- include('../includes/head.ejs') %> 
       
<body>
    <%- include("../includes/header") %> 
    <main>
        <section class="contbannerlist">
            <h2 class="bannerlist"><%= locals.title ? title : null %> </h2>

        </section>
        <section class="contlistado">
        <% if (locals.products) { %> <!--CONSULTO SI AGREGO PRODUCTOS A LA LISTA --> 
            <%  if (products.length > 0) { %>  <!--CONSULTO SI LA CANTIDAD DE PRODUCTOS ES MAYOR A 0 --> 
                
        
        <% products.forEach(product => { %>             
            <article >
           <a class="contentlista" href="/product/<%= product.id %> ">
        <ul>
            <li> <%= product.origen %> </li>
            <li> <%= product.tipoDeGrano %> </li>
            <li> <%= product.cantidad %> </li>
            <li> <%= product.precio %> </li>
            <li> <%= product.imagen %> </li>
          
        </ul>
   
        </a>
    
          </article>
        <%  }) %> 
        

        
        
        <% } else { %> 
        
            
        
            <h3 class="titulolist">Agregá algunos! </h3>
            <i class="far fa-dizzy"></i> 
        
        <% } %> 
        
        <% } else { %> 
        
        <h3 class="titulolist">Hay pocos productos, ingresá más!</h3>
        <i class="far fa-dizzy"></i> 
        <% } %>
        
        
        
        </section>
      
           
         
        <picture class="contemojimas">
            <a href="/product/create"><i class="fas fa-plus-circle"></i></a> <!-- si agreagamos /product se rompe -->
        </picture>
        
        </main>  
 
<%- include("../includes/footer") %> 
</body>
</html>