<!DOCTYPE html>
<html lang="es">
    <%- include('../includes/head.ejs') %> 
       
<body>
    <%- include("../includes/header") %> 
<main>
 <section class="">
     <h2 class=""><%= locals.title ? title : null %></h2>
 </section>
 <section class="contformulario">
     <form action="/product/<%= product.id %>?m=PUT"  enctype="multipart/form-data" method="POST">
     <label class="continput" for="origen">
         <input class="forminput" type="text" name="origen" id="origen" placeholder="ORIGEN DE CAFE" value="<%= product.origen %>">
     </label>
     <label class="continput" for="tipoDeGrano">
        <input class="forminput"  type="text" name="tipoDeGrano" id="tipoDeGrano" placeholder="TIPO DE GRANO" value="<%= product.tipoDeGrano %>">
    </label>
    <label class="continput" for="cantidad">
        <input class="forminput"  type="number" name="cantidad" id="cantidad" placeholder="CANTIDAD" min="0" value="<%= product.cantidad %>">
    </label>
    <label class="continput" for="precio">
        <input class="forminput"  type="number" name="precio" id="precio" placeholder="PRECIO" min="0" value="<%= product.precio %>">
    </label>
   <!-- <label class="continput" for="imagen">
        <input class="forminput1" type="file" name="imagen" id="imagen" multiple >
    </label> -->
    <fieldset class="continput">
        <button class="boton" type="submit">MODIFICAR</button>
    </fieldset>
</form> 
 </section>
</main>
<%- include("../includes/footer") %> 
</body>
</html>    
