<!DOCTYPE html>
<html lang="es">
    <%- include('../includes/head.ejs') %> 
       
<body>
    <%- include("../includes/header") %> 
<main>
 <section class="conttitle">
     <h2 class="title"><%= locals.title ? title : null %></h2>
 </section>
 
 <section class="contformulario">

    <form class="formgral" action="/product/update/<%= product.id %>?m=PUT"  method="post">

        <label class="continput" for="origen">
           
           <select class="forminput" name="origen" id="origen">
               <% origenes.forEach(element => { %>
                <option <%= element.id == product.origen.id ? "selected" : null %>  value="<%= element.id %>"> <%= element.country %> </option>
               <% }) %>
               </select>
        </label>
   
        <label class="continput" for="origen">
           
           <select class="forminput" name="tipoDeGrano" id="tipoDeGrano">
               <% granos.forEach(element => { %>
                <option value="<%= element.id %>"> <%= element.tipoDeGrano  %> </option>
               <% }) %>
               </select>
        </label>     
   
        <label class="continput" for="cantidad">
           
           <select class="forminput" name="cantidad" id="cantidad">
               <% gramos.forEach(element => { %>
                <option <%= element.id == product.cantidad.id ? "selected" : null %> value="<%= element.id %>"> <%= element.Cantidad %> </option>
               <% }) %>
               </select>  
            </label>

       <label class="continput" for="precio">
           <input class="forminput"  type="number" name="precio" id="precio" placeholder="PRECIO" min="0" value="<%= product.Precio%>" />
       </label>
   
    <label class="contchek" for="oferta">OFERTA !
        <input class="formchek" type="checkbox"  name="oferta" id="oferta" value="checked">
    </label>
   
     
       <label class="continput" for="imagen">
           <input class="forminput1" type="file" name="imagen" id="imagen" multiple>
       </label>  
   
       <fieldset class="continput1">       
           <button class="boton" type="submit">MODIFICAR</button>
           <a class="boton1" href="/product">VOLVER</a>  
       </fieldset>       
       
   </form>
    
 </section>
</main>
<%- include("../includes/footer") %> 
</body>
</html>    
