<!DOCTYPE html>
<html lang="es">

<%- include("../includes/head") %>

    <body>
        <%- include("../includes/header") %>

            <main>
                <section class="banner">
                    <article class="imagenBanner">

                        <h1 id="banner-txt">INGRESA</h1>
                    </article>
                </section>


                <form action="/users/access" method="post">

                    <h2>INGRESA TUS DATOS</h2>
                    <fieldset>
                        <input class="Email" type="text" placeholder="Email" name="email" id="Email" value="" required>
                    </fieldset>
                    <fieldset>
                        <input class="Contraseña" type="password" placeholder="Contraseña" name="password" value="" required>
                    </fieldset>
                    <fieldset>
                        <input type="checkbox" name="remember" id="remember">
                    </fieldset>


                    <fieldset>
                        <button class="botonEnviar" type="ENVIAR">INGRESAR</button>
                        <button class="botonReset" type="reset">BORRAR</button>
                    </fieldset>
                    <section class="leyendas">
                        <a class="olvidasteContraseña" href="">¿Olvidaste la Contraseña?</a>
                        <a class="olvidasteUsuario" href="">¿Olvidaste el Usuario?</a>
                    </section>
                    <section >
                    <% if (locals.errors && errors.email) { %>
                        <p><%= errors.email.msg %> </p>
                       <% } %>
                       
                       <% if (locals.errors && errors.password) { %>
                           <p><%= errors.password.msg %> </p>
                          <% } %>
                        </section>
                </form>
              

            </main>
            <%- include("../includes/footer") %>

    </body>

</html>