<!DOCTYPE html>
<html lang="es">

<%- include("../includes/head") %>

    <body>
        <%- include("../includes/header") %>

            <main>
                <h1 class="tituloprofile">
                    <%= user.nombre %>
                        <%= user.apellido %>
                </h1>

                <h4 class="EmailUser">Email: <%= user.email %>
                </h4>
                <section>
                    <% if (user.avatar !=null) { %>
                        <figure class="figura">
                            <img class="fotoAvatar" src="/uploads/avatars/<%= user.avatar %>"
                                alt="photo <%= user.email %>">
                        </figure>
                        <% } else { %>
                            <figure class="figura">
                                <img class="avatar" src="/image/users/perfil.jpg" alt="photo <%= user.email %>">
                            </figure>
                            <% } %>

                                <form class="foto" action="/users/upload/avatar" enctype="multipart/form-data"
                                    method="post">
                                    <input class="foteli" type="file" name="avatar" id="avatar">
                                    <button type="submit">Actualizar foto de perfil</button>


                                    <section class="editYtrash">
                                        <article class="iconoEdit">
                                            <fieldset>
                                                <a class="fas fa-edit" href="/users/update/<%= user.id %>"></a>
                                            </fieldset>
                                        </article>

                                    </section>
                                </form>
                                <form action="/users/logout" method="post">
                                    <button class="botonExit" type="submit">SALIR</button>
                                </form>

                                <form action="/users/delete/ <%= user.id %> ?m=DELETE" method="post">
                                    <button class="tachito" type="submit">
                                        <a class="fas fa-trash-alt"></a>
                                    </button>
                                </form>


                </section>


            </main>
            <%- include("../includes/footer") %>

    </body>

</html>