<!DOCTYPE html>
<html lang="es">

    <%- include("../includes/head") %> 
    <body>
        <%- include("../includes/header") %> 

    <main>
   <h1 class= "tituloprofile"><%= user.nombre %>  <%= user.apellido %></h1>
        
   <h4 class= "EmailUser">Email: <%= user.email %> </h4>
   <section> 
       <% if (user.avatar != null) { %>
           <figure class="figura">
               <img class="fotoAvatar" src="/uploads/avatars/<%= user.avatar %>" alt="photo <%= user.email %>">
           </figure>
       <% } else { %>
           <figure  class="figura">
               <img  class="avatar" src="/image/users/perfil.jpg" alt="photo <%= user.email %>">
           </figure>
       <% } %>
       <form class= "foto" action="/users/upload/avatar" enctype="multipart/form-data" method="post"> 
           <input class= "foteli" type="file" name="avatar" id="avatar">
           <button type="submit">Actualizar foto de perfil</button>
       </form>
       <!-- <form class= "pass" action="/users/update/password" method="post"> 
        <input type="password" name="passanterior" id="passanterior" placeholder="Contrase単a actual">
        <br>
        <input type="password" name="password" id="password" placeholder="Nueva Contrase単a">
       campo para revalidar pass>
        <input type="password" name="password2" id="RepetirPassword" placeholder="Repetir Contrase単a">
        
        <button class="actualizarpass" type="submit">Actualizar contrase単a</button>
    </form>-->
       <form action="/users/logout" method="post">
        <button class= "botonExit" type="submit">SALIR</button>
  </form>
   </section>

  
</main>
    <%- include("../includes/footer") %> 

</body>

</html>