<!DOCTYPE html>
<html lang="es">

<%- include("../includes/head") %>

    <body>
        <%- include("../includes/header") %>

            <main>
                <h1 class="tituloprofile">
                    <%= user.nombre %>
                        <%= user.apellido %>
                </h1>

                <h4 class="EmailUser">Email: <%= user.email %>
                </h4>
                <section>
                    <% if (user.avatar !=null) { %>
                        
                        <figure class="figura">
                            <img class="fotoAvatar" src="/uploads/avatars/<%= user.avatars.Url %>"
                                alt="photo <%= user.email %>" >
                        </figure>
                       
                        <% } else { %>
                            <figure class="figura">
                                <img class="avatar" src="/image/users/perfil.jpg" alt="photo <%= user.email %>">
                            </figure>
                            <% } %>
                            <section class="editYtrash">
                                <form  action="/users/upload/avatar" enctype="multipart/form-data" method="post">
                                   <article class="contentfoto">
                                    <input  type="file" name="avatar" id="avatar">
                                    <button class="botonExit"  type="submit">Actualizar</button>                                                                  
                                </article>
                                <article  class="contenticon">   
                                    <a class="fas fa-edit" href="/users/update/<%= user.id %>"></a>                                                                                                                           
                                       <form action="/users/delete/<%= user.id %>?m=DELETE" method="post">                                           
                                            <button class="tachito"  type="submit">
                                                <a class="fas fa-trash-alt"></a>
                                            </button>
                                        </form>
                                        
                                    </article>  
                                </form>
                            </section>
                                <form action="/users/logout" method="post">
                                    <button class="botonExit" type="submit">SALIR</button>
                                </form>

                             


                </section>


            </main>
            <%- include("../includes/footer") %>

    </body>

</html>