<!DOCTYPE html>
<html lang="es">
<%- include("../includes/head") %>

    <body>
        <%- include("../includes/header") %>
            <main>

                <main>
                    <section class="banner">
                        <article class="imagenBanner">

                            <h1 id="banner-txt">REGISTRATE</h1>
                        </article>
                    </section>
                    <form action="/users/save" method="post" id="formu">
                        <h2>DATOS PERSONALES</h2>
                        <fieldset>
                            <input class="Nombre continputs" type="text" placeholder="Nombre" name="nombre" id="nombre" 
                            value="<%= locals.oldData ? oldData.nombre : null%>">
                            
                        </fieldset>
                        <fieldset>
                            <input class="Apellido continputs" type="text" placeholder="Apellido" name="apellido" id="Apellido"
                            value="<%= locals.oldData ? oldData.apellido : null%>">
                        </fieldset>
                        <fieldset>
                            <input class="Email continputs" type="text" placeholder="Email" name="email" id="Email" 
                            value="<%= locals.oldData ? oldData.email : null%>">
                        </fieldset>
                        <fieldset>
                            <input class="Contrase単a continputs" type="password" placeholder="Contrase単a" name="password" id="password" value="">
                        </fieldset>
                        <fieldset>
                            <input class="Contrase単a continputs" type="password" placeholder="Repite Contrase単a" name="password2" id="password2"
                                value="">
                        </fieldset>
                        <fieldset>
                            <button class="botonEnviar" type="submit">ENVIAR</button>
                            <button class="botonReset" type="reset">BORRAR</button>
                        </fieldset>
                        <section>
                            <% if (locals.errors && errors.nombre) { %>
                                <p class="errors">
                                    <%= errors.nombre.msg %>
                                </p>
                                <% } %>
                                    <% if (locals.errors && errors.apellido) { %>
                                        <p class="errors">
                                            <%= errors.apellido.msg %>
                                        </p>
                                        <% } %>
                                            <% if (locals.errors && errors.email) { %>
                                                <p class="errors">
                                                    <%= errors.email.msg %>
                                                </p>
                                                <% } %>

                                                    <% if (locals.errors && errors.password) { %>
                                                        <p class="errorvalidacion">
                                                            <%= errors.password.msg %>
                                                        </p>
                                                        <% } %>
                                                            <% if (locals.errors && errors.password2) { %>
                                                                <p class="errorvalidacion">
                                                                    <%= errors.password2.msg %>
                                                                </p>
                                                                <% } %>
                        </section>
                        <section class="YaEstoyRegistrado">
                            <a class="yaTengoUsuario" href="/users/login"></a>
                        </section>



                    </form>

                </main>
                <%- include("../includes/footer") %>
                <script src = "../js/register.js"></script>
    </body>

</html>