<!DOCTYPE html>
<html lang="es">
<%- include("../includes/head") %>

    <body>
        <%- include("../includes/header") %>

            <main>
                <section>
                    <% if (users.length > 0) { %>
                        <article class="EmailUser ">Hay <%= users.length %> usuario/s registrado/s </article>
         
            <% users.forEach(element => { %>
                <article class=" listagral">
                            <a class="searchlista" href="/users/profile/<%= element.id %> ">
                              
                                        <ul class="contlis">

                                            <li class="searchUser">NOMBRE: <%= element.nombre %>
                                            </li>

                                            <li class="searchUser">APELLIDO: <%= element.apellido %>
                                            </li>

                                            <li class="searchUser">E-MAIL: <%= element.email %>
                                            </li>


                                        </ul>
                            </a>
                        </article>

                        <% }) %>

                            <% } else { %>
                                <h2 class= "containh2">No se encontraron usuarios</h2>
                                <% }%>

                                    <article class="iconos1">
                                        <a class="boton1" href="/users/index">VOLVER</a>
                                    </article>


                </section>
            </main>
            <%- include("../includes/footer") %>
    </body>

</html>