<!DOCTYPE html>
<html lang="es">
    <%- include('../includes/head.ejs') %> 
       
<body>
    <%- include("../includes/header") %> 
<main>
 <section class="contTitle">
     <h2 class="title"><%= locals.title ? title : null %></h2>
 </section>
 <section >
     
     <form class="formgral" action="/users/update/<%= user.id %>?m=PUT" method="POST">
         
     <label class="continput" for="nombre">
         <input class="forminput" type="text" name="nombre" id="nombre" placeholder="Cambiar nombre" value="<%= user.nombre %>">
     </label>
    
     <label class="continput" for="apellido">
        <input class="forminput" type="text"  name="apellido"  placeholder="Cambiar apellido" value="<%= user.apellido %>" >
       </label> 
       
       <label class="continput" for="email">
        <input class="forminput" type="text"  name="email"  placeholder="Cambiar email" value=" <%= user.email %> ">
       </label>    

    <fieldset class="continput1">
        
        <a class="boton1" href="/users/profile/ <%= user.id %> ">VOLVER</a>  
        <button class="boton1" type="submit">MODIFICAR</button>

    </fieldset>
  

</form> 
 </section>
</main>
<%- include("../includes/footer") %> 
</body>
</html>    
